#about .container {
  justify-content: space-between;
}

#about .pic {
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  width: 653px;
  height: 700px;
  border-radius: 0 100px 0 150px;
  overflow: hidden;
}

.call-group {
  display: flex;
  align-items: center;
}

.call-icon {
  padding: 30px;
  border-radius: 50%;
  border: none;
  color: var(--bg-brown);
}

.call-icon i {
  font-size: 32px;
  color: var(--font-gold);
}

.call-info {
  padding: 0 15px;
}

.call-info * {
  font-size: 25px;
}
.call-number {
  font-weight: bold;
}

.free-estimate {
  padding: 26px 31px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background-color: #292f36;
  color: white;
}

.free-estimate * {
  font-size: 18px;
}
.free-estimate i {
  color: var(--font-gold);
}

/* 平板 */
@media screen and (max-width: 1024px) {
  #about .pic{
    width: 45%;
    height: 100%;
  }
}

/* 手機 */
@media screen and (max-width: 468px) {
  #about .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  #about .container > * {
    padding-bottom: 40px;
  }

  #about .pic {
    order: -1;
    width: 100%;
    height: calc( 100vw * 524 / 468 );
    border-radius: 0 100px 0 150px;
  }

  .section-title, #about .desc {
    text-align: center;
  }

  .call-icon {
    padding: 30px;
    border-radius: 50%;
    border: none;
    color: #f4f0ec;
  }

  .call-icon i {
    font-size: 32px;
    color: var(--font-gold);
  }

  .free-estimate {
    width: 240px;
  }
}
