@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Mukta:wght@300&display=swap");

/*   CSS 索引   */
/*
1 - GLOBAL
  1.1 自訂變數
  1.2 HTML元素
  1.3 類別 (class)
2 - Header
  2.1 logo/icon
  2.2 navbar 選單
3 - Banner
4 - About
  4.1 大頭貼
  4.2 履歷說明
    4.2.1 自我介紹
    4.2.2 學歷
    4.2.3 技能
*/

/* === 1 - GLOBAL === */
* {
  box-sizing: border-box;
}
/* 1.1 自訂變數 */
:root {
  --header-bg: rgb(212, 186, 228);
  --header-height: 80px;
  --logo-shadow-color: #a8a1aa;
  --option-bg: rgb(59, 59, 59);
  --nav-border-rad: 10px;
  --section-margin: 20px;
  --section-shadow-color: rgb(90, 30, 87);
  --section-shadow-dis: 6px;
}
/* 1.2 HTML元素 */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 225, 243);
  color: var(--option-bg);
  font-family: "Mukta";
}
main {
  margin-top: calc(var(--header-height) + var(--section-margin));
}
section {
  margin: var(--section-margin) 0;
}
footer {
  background-color: var(--header-bg);
}
footer p {
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--option-bg);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 1.3 class */
.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* === 2 - Header === */
header {
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 20px;
  box-shadow: 0 2px 10px var(--section-shadow-color);
  background-color: var(--header-bg);
  border-radius: 0 0 var(--nav-border-rad) var(--nav-border-rad);
  z-index: 200;
}
header .container {
  width: 100%;
  max-width: 1300px;
  height: var(--header-height);
  align-items: center;
}
/* 2.1 logo/icon */
.logo {
  height: 70%;
  padding: 0 20px;
}
.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--nav-border-rad);
  cursor: pointer;
  display: none;
}
.menu-icon i {
  font-size: 30px;
}
/* 2.2 navbar 選單 */
.navbar {
  width: 60%;
  max-width: 450px;
}
.navbar ul {
  width: 100%;
  color: var(--option-bg);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar a {
  display: flex;
  border: 2px solid var(--option-bg);
  padding: 0 10px;
  border-radius: var(--nav-border-rad);
  justify-content: center;
}
.navbar ul li {
  line-height: 2em;
  text-align: center;
}

/* === 3 - Banner === */

/* === 4 - About === */
#about .container {
  justify-content: space-around;
}
/* 4.1 大頭貼 */
#about .title {
  width: 30%;
  height: fit-content;
  box-shadow: 0 0 20px var(--logo-shadow-color);
}
#about .img {
  width: 100%;
  margin: 25px 0;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
}
#about img {
  width: 100%;
}
h1 {
  text-align: center;
}
/* 4.2 履歷說明 */
.desc {
  /* background-color: #fff; */
  padding: 20px;
  margin-top: 30px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.desc * {
  margin: 0;
  padding: 0;
}
.desc > div > * {
  margin: 10px 0;
}
/* 4.2.1 自我介紹 */
.desc h4 {
  font-weight: normal;
  color: black;
}
/* 4.2.2 學歷 */
.degree {
  background-color: var(--header-bg);
  border-radius: 5px;
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.degree h5 {
  color: #807e81;
}
/* 4.2.3 技能 */
.skill {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill h4 {
  color: black;
  display: block;
  width: 25%;
}
.skill .bar {
  width: 75%;
  height: fit-content;
  position: relative;
}
.skill .bar * {
  font-size: 14px;
}
.empty, .fill {
  height: 1.5em;
  border-radius: 0.8em;
  overflow: hidden;
}
.skill .empty {
  width: 100%;
  background-color: #e5e3e3;
  box-shadow: 0 2px 5px inset var(--option-bg);
}
.html,
.css,
.javascript,
.php,
.mysql {
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
}
.skill .fill {
  width: 100%;
  text-align: center;
  color: white;
  box-shadow: 1px 0 2px rgb(150, 150, 150);
  animation: grow 1s ease-in-out;
}
.html {
  width: 90%;
}
.css {
  width: 95%;
}
.javascript {
  width: 80%;
}
.php {
  width: 60%;
}
.mysql {
  width: 80%;
}
@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.html .fill {
  background-image: linear-gradient(
    to right top,
    #98f053,
    #82e64d,
    #6bdc48,
    #52d244,
    #31c840
  );
}
.css .fill {
  background-image: linear-gradient(
    to right,
    #ec9696,
    #e97e7c,
    #e46562,
    #dc4b47,
    #d32b2b
  );
  animation-delay: 0.1s;
}
.javascript .fill {
  background-image: linear-gradient(
    to right,
    #53caf0,
    #03b1ec,
    #0096e6,
    #007adb,
    #315bc8
  );
  animation-delay: 0.2s;
}
.php .fill {
  background-image: linear-gradient(
    to right,
    #fdcd70,
    #fcc45c,
    #fabb47,
    #f9b230,
    #f8a80d
  );
  animation-delay: 0.3s;
}
.mysql .fill {
  background-image: linear-gradient(
    to right,
    #e49efd,
    #db8cfa,
    #d27af7,
    #c867f3,
    #be53f0
  );
  animation-delay: 0.4s;
}
