
      /* 手機 */
      @media screen and (max-width: 500px) {
        .logo {
          border-radius: 0 var(--nav-border-rad) var(--nav-border-rad) var(--nav-border-rad);
        }
        .menu-icon {
          border-radius: var(--nav-border-rad) 0 var(--nav-border-rad) var(--nav-border-rad);
          display: flex;
        }
        header {
          flex-wrap: wrap;
        }
        .navbar {
          display: none;
          width: 100%;
          /* display: flex; */
          justify-content: center;
          padding-bottom: 10px;
          background-color: var(--nav-bg);
          border-radius: 0 0 var(--nav-border-rad) var(--nav-border-rad);
        }
        .navbar ul {
          flex-direction: column;
          padding: 0;
          margin: 0;
        }
        .navbar a {
          border: none;
          border-radius: 0;
        }
        .navbar li {
          width: 60%;
          border-bottom: 2px solid var(--option-bg);
        }
        .navbar ul {
          border-top: 3px solid var(--option-bg);
        }

        #skills .container {
          flex-direction: column;
        }

        .skill {
          width: 100%;
          margin: 10px 0;;
        }
      }